/* Configurações Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #424242;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 2rem;
    text-align: center;
  }
  
  section#portfolio .projetos {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  section#portfolio .projeto {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    width: 200px;
    border-radius: 5px;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  